body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: Arial, sans-serif;
	color: #eee;
}

/* Main menu elements */

#menu {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;

	position: relative;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 40%;
	max-width: 400px;
	max-height: 200px;
	background-color: #444;
	transform: translate(-50%, -50%);
	border-radius: 3px;
}

#backArrow { 
	position: absolute;
	top: -25px;
	left: 0px;
	width: 75px;
	height: 20px;

	background-color: #eee;
	border-radius: 3px;
	color: #444;
	
	text-align: center;

	cursor: pointer;
}

#navToSettings {
	position: absolute;
	right: 0px;
	bottom: 0px;
}

#backArrow:hover { 
	color: #eee;
	background-color: #444;
}

.menuWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;	

	height: 100%;
	width: 100%;
}

button {
	/* This is trying to patch an issue on mobile */
	text-align: center;
}

.main-button {
	display: block;
	
	position: relative;
	height: 75px;
	width: 75px;
	margin: 5px;

	border: 3px solid #eee;
	border-radius: 3px;
	background-color: #444;

	font-family: Arial, sans-serif;
	color: #eee;
	font-size: 1.25em;
	text-align: center;

	cursor: pointer;
}

.main-button:hover {
	background-color: #666;
}

.minor-button {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;	

	height: 1em;
	width: 1em;
	margin: 0.25em;

	border-radius: 3px;

	text-align: center;
}

.minor-button:hover {
	background-color: #eee;
	color: #444;

	cursor: pointer;
}

/* Add data elements */

#inputDataWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 60%;
	margin: 5px;

	color: #eee;
}

textarea {
	height: 40%;
	width: 100%;

	border: 2px solid #eee;
	border-radius: 3px;
	background-color: #666;

	color: #eee;
}

textarea::placeholder {
	color: #eee; 
}

/* Quiz menu elements */

#quizScreen {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly; 
	align-items: center;

	height: 100%;
	width: 100%;
}

#question {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;

	width: 95%;
	height: 35%;

	overflow: hidden;
}

#question p {
	margin: 0;
}

#answerChoices {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    width: 90%;
    height: 45%;
	margin-top: 5px;
}

.answer-block {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	height: 100%;

	border: #eee solid 2px;
	border-radius: 3px;
	box-sizing: border-box;
}

.answer-block:hover {
	background-color: #666;
	animation: jiggle 0.2s linear 2;

	cursor: pointer;
}

.answer-block p {
	overflow-x: auto;
	white-space: nowrap;
	width: 100px;
	margin: 0;
	text-align: center;
}

.answer-block p::-webkit-scrollbar {
	height: 0px;
}

@keyframes jiggle {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(1.5deg);
	}

	80% {
		transform: rotate(-1.5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/* Stats menu elements */

#statsTableWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	height: 100%;
}

.stats-column {
	display: grid;
    grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;

    width: 48%;
    height: 98%;

	box-sizing: border-box;
}

.cell {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	
	width: 97%;
	height: 97%;
	
	border: #eee solid 2px;
	border-radius: 3px;
	box-sizing: border-box;

	overflow: hidden;
}

.statistic {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	
	width: 100%;
	height: 100%;
	margin: 0px;
	
	border-radius: 3px;
	box-sizing: border-box;
}

/* Settings Menu */

#settingsTableWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start; 
	align-items: center;

	width: 100%;
	height: 100%;
	overflow-y: scroll;

	box-sizing: border-box;
}

#settingsTableWrapper::-webkit-scrollbar {
	width: 0;
}

.setting {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	
	width: calc(100% - 0.5em);
	height: 50px;
	margin: 0.25em;
	
	border-radius: 3px;
	border-top: #eee dotted 1px;
	border-bottom: #eee dotted 1px;
	box-sizing: border-box;
}

.setting-description {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 50%;

	font-weight: bold;
}

.setting-options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 50%;
}

.setting-options label {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	width: fit-content;
	height: 1.5em;
	padding: 0.25em;
	margin-right: 0.25em;

	border: #eee solid 2px ;
	border-radius: 3px;
	
	cursor: pointer;
}

.setting-options label:hover {
	background-color: #666;
}

.setting-options label input {
	margin: 0 0.4em 0 0;
}

.setting p {
	display: block;

	width: fit-content;
	margin: 0;
	box-sizing: border-box;
}

/* Settings Menu -> Clear Vocab Data */

.setting .main-button {
	height: 1.5em;
	width: fit-content;

	border: #eee solid 2px ;
}

/* Communication elements */

#notificationBar {
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;

	position: absolute;
	top: calc(100% + 5px);
	left: 0px;
	height: 30px;
	width: 100%;

	background-color: #eee;
	border-radius: 3px;
	overflow: hidden;

	color: #444;
}

.notification {
    position: absolute;
    white-space: nowrap;
    animation: scroll 2.5s linear forwards;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.hidden {
	display: none;
}

.unselectable {
	user-select: none;
}

/* Streak Counter Bar */

#streakCounter {
	display: block;

	position: absolute;
	bottom: 0px;
	right: -0.70em;
	width: 0.5em;
	
	border-radius: 3px;
	background-color: #444;
}